<div class="row mb-2">
  <div class="col-8">
    <h1 class="class display-4">Tasks</h1>
  </div>
  <div class='col-4 mt-4 text-end'>
    <%= link_to 'New Task', new_task_path, class: 'btn btn-dark' %>
  </div>
</div>

<% if @tasks.any? %>
  <table class='table table-borderless'>
    <thead>
      <tr>
        <th>Description</th>
        <th>Term</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <%= render 'table_row', task: task %>

        <% task.sub_tasks.order(:due_date).each do |sub_task| %>
          <%= render 'table_row', task: sub_task %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No tasks have been registered yet.</p>
<% end %>